<!doctype html>
<html>
<head>  
     <title>Comunidad Hp</title>



    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="import" href="elements.html">    
    
</head>
<body>
   
    <app-toolbar  class="z-depth-2 fixed" >
    <paper-icon-button icon="menu" class="btn-menu"   paper-drawer-toggle raised ></paper-icon-button>
    <div main-title ><div  class="paper-font-title  titulo">COMUNIDAD DE VENTAS HP</div></div>
    <paper-icon-button icon="fullscreen"></paper-icon-button>
    <paper-icon-button icon="face"></paper-icon-button>
    <paper-icon-button icon="power-settings-new"></paper-icon-button>
    </app-toolbar>


  <app-drawer swipe-open>  
           <div role="listbox">

          <div class="head-mobile"> </div> 
          <paper-item>Inicio</paper-item>
          <paper-item>Muro</paper-item>
          <paper-item>Formación</paper-item>
          <paper-item>Biblioteca</paper-item>
          <paper-item>Noticias</paper-item>
          <paper-item >Ayuda</paper-item>
          <paper-item  class="cerrar">Cerrar Menu</paper-item>
       </div>
    
    
</app-drawer>
    
    <div  class="main-body">

    
    <div class="row">

    <div class="col s12 m4 l9">
        
    <div class="content">
        <div>
            <img src="../img/a2a972dcda5b2d666cabf21b3eed9cb2.png">
        </div>
        
        
    </div>
        </div>    
<div class="col s12 m4 l3">
        
  <paper-card image="../img/descarga.png" alt="" class=" pink darken-1">
    <div class="card-content white grey-text">
        
Ventas Formación       
      </div>
  </paper-card>

</div>
        </div>
    
        
<div class="row">
<div class="col s12 m4 l9">    


<paper-card class="desempenio" >
  <div class="card-content  teal">
Ranking <br>
<small> !Los  mejores desempeño de la comunidad¡</small>
  </div>
     <table class="bordered center"> 
        <thead>
          <tr>
              <th data-field="#" class="right">#</th>
              <th data-field="name" class="center">Nombre</th>
              <th data-field="nivel" class="center">Nivel</th>
              <th data-field="%" class="left" >%</th>
          </tr>
        </thead>
       

        <tbody>
          <tr>
            <td class="right blue-text" >1</td>
            <td class="center" >Sergio Enrique Suzarte  Hernan Morales</td>
            <td class="center">Principiante</td>
            <td class="left blue-text">98</td>
          </tr>
          <tr>
            <td class="right blue-text" >1</td>
            <td class="center" >Sergio Enrique Suzarte  Hernan Morales</td>
            <td class="center">Principiante</td>
            <td class="left blue-text">98</td>
          </tr>
          <tr>
            <td class="right blue-text" >1</td>
            <td class="center" >Sergio Enrique Suzarte  Hernan Morales</td>
            <td class="center">Principiante</td>
            <td class="left blue-text">98</td>
          </tr>
          <tr>
            <td class="right blue-text " >1</td>
            <td class="center" >Sergio Enrique Suzarte  Hernan Morales</td>
            <td class="center">Principiante</td>
            <td class="left blue-text">98</td>
          </tr>
          <tr>
            <td class="right blue-text" >1</td>
            <td class="center" >Sergio Enrique Suzarte  Hernan Morales</td>
            <td class="center">Principiante</td>
            <td class="left blue-text">98</td>
          </tr>  
          <tr>
            <td class="right blue-text" >1</td>
            <td class="center" >Sergio Enrique Suzarte  Hernan Morales</td>
            <td class="center">Principiante</td>
            <td class="left blue-text">98</td>
          </tr>
        </tbody>
      </table>

</paper-card>

</div>    
<div class="col s12 m4 l3">
        
<paper-card >
  <div class="card-content  blue-grey darken-1">
Ultimos Mensajes <br>
<small> !Los ultimos mensajes del muro¡</small>
  </div>
<table class="">
<tbody>
<tr>
    <td>
    <paper-icon-button icon="face"></paper-icon-button>
    </td>
    <td>
     Alvaro Opazo <br>
    <small>No dejes Pasar esta gran opor</small>
    </td>
</tr>
<tr>
    <td>
    <paper-icon-button icon="face"></paper-icon-button>
    </td>
    <td>
     Alvaro Opazo <br>
    <small>No dejes Pasar esta gran opor</small>
    </td>
</tr>
<tr>
    <td>
    <paper-icon-button icon="face"></paper-icon-button>
    </td>
    <td>
     Alvaro Opazo <br>
    <small>No dejes Pasar esta gran opor</small>
    </td>
</tr>
<tr>
    <td>
    <paper-icon-button icon="face"></paper-icon-button>
    </td>
    <td>
     Alvaro Opazo <br>
    <small>No dejes Pasar esta gran opor</small>
    </td>
</tr>
<tr>
    <td>
    <paper-icon-button icon="face"></paper-icon-button>
    </td>
    <td>
     Alvaro Opazo <br>
    <small>No dejes Pasar esta gran opor</small>
    </td>
</tr>

</tbody>
</table>
 <div class="card-actions center">
  <small>Ver todos</small>
  </div>
</paper-card>
    
    
    </div>
        </div>
        
        
        
<div class="row notif-card  ">
<div class="col s12 m4 l9"> 
    <div class="row">

    <div class="col s12 m6 l4">
<paper-card heading="" image="../img/ann_pavx360_gallery_thumb01.jpg" alt="Sailboat Harbor" class="white">
  <div class="card-content teal">1,000 miles of wonder</div>
  <div class="card-actions">
   <br>
   <br>
  </div>
            
            
</paper-card>
    </div>   
<div class="col s12 m6 l4">
  <paper-card heading="" image="../img/ann_pavx360_gallery_thumb01.jpg" alt="Sailboat Harbor" class="white">
  <div class="card-content teal">1,000 miles of wonder</div>
  <div class="card-actions">
   <br>
   <br>
  </div>
</paper-card>
    </div>    
        
<div class="col s12 m6 l4">
<paper-card heading="" image="../img/ann_pavx360_gallery_thumb01.jpg" alt="Sailboat Harbor" class="white">
<div class="card-content teal">1,000 miles of wonder</div>
<div class="card-actions">
 <br>   <br>
</div>
</paper-card>
</div>    

        
    </div>
    
           
</div>
    
<div class="col s12 m4 l3">
        
<paper-card >
  <div class="card-content  indigo darken-3">
Respecto a los cursos que viste hasta ahora; ¿Consideras que los contenidos son útiles?
      <br>
      <small>¡Nos interesa mucho su opinión!</small>
  </div>
    <div class="card-content ">

<paper-radio-group selected="" aria-labelledby="label2">
  <paper-radio-button name="a">Si</paper-radio-button>
  <paper-radio-button name="b">No</paper-radio-button>
</paper-radio-group>        
    </div>
    
  <div class="card-actions">
      
<paper-button raised class="custom btn-votar indigo darken-3 white-text">votar</paper-button>
  </div>
</paper-card>
    </div>
 </div>    

    </div>


    </div>

    
    </div>    

    
    
</body>
</html>
