<!doctype html>
<html>
<head>  
     <title>Comunidad Hp</title>



    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="import" href="../elements.html">    
    
</head>
<body>
   
    <app-toolbar class=" z-depth-2 white">
    <paper-icon-button icon="menu" class="btn-menu"   paper-drawer-toggle raised ></paper-icon-button>
    <div main-title >
    <img class="big" src="../../img/da2a9f470f89a6dffad6244fde0fab3a.png"></img>    
   
</div>
    <paper-icon-button icon="fullscreen"></paper-icon-button>
    <paper-icon-button icon="face"></paper-icon-button>
    <paper-icon-button icon="power-settings-new"></paper-icon-button>
    </app-toolbar>


  <app-drawer swipe-open>  
           <div role="listbox">

          <div class="head-mobile"> </div> 
          <paper-item>Inicio</paper-item>
          <paper-item>Muro</paper-item>
          <paper-item>Formación</paper-item>
          <paper-item>Biblioteca</paper-item>
          <paper-item>Noticias</paper-item>
          <paper-item >Ayuda</paper-item>
          <paper-item  class="cerrar">Cerrar Menu</paper-item>
       </div>
    
    
</app-drawer>
<div  class="main-body">
<div class="desempenio " >
  <div class="card-content content-head blue">
      <h5>Consultar Usuario  </h5>      
      <paper-button  class="right"> <iron-icon icon="add" > </iron-icon> Agregar Registro   </paper-button>
 <br> <br>
  </div>
     <table class="bordered highlight center responsive-table"> 
        <thead>
          <tr>
              <th data-field="name" class="center">Nombre</th>
              <th data-field="nivel" class="center">Apellido</th>
              <th data-field="nivel" class="center">Email</th>
              <th data-field="nivel" class="center">Nivel</th>
              <th data-field="nivel" class="center">Foto Perfil </th>
              <th data-field="nivel" class="center">Estado</th>
              <th data-field="nivel" class="center">Acciones</th>
          </tr>
        </thead>
       

        <tbody>
          <tr>
            <td class="center" >Jesus</td>
            <td class="center" >Zuñiga Becerra</td>
            <td class="center">	jesus.i.z.b.1996@hotmail.com</td>
            <td class="center ">Principiante</td>
            <td class="center">	Archivo no disponible</td>
            <td class="center teal-text">Activo</td>
            <td class="center blue-text">
            <paper-button>
            <iron-icon icon="search"></iron-icon>
           </paper-button>             <paper-button>
            <iron-icon icon="create"></iron-icon>
           </paper-button>            
            <paper-button>
            <iron-icon icon="delete"></iron-icon>
           </paper-button>  
            </td>
          </tr>          
            
            <tr>
            <td class="center" >Jesus</td>
            <td class="center" >Zuñiga Becerra</td>
            <td class="center">	jesus.i.z.b.1996@hotmail.com</td>
            <td class="center ">Principiante</td>
            <td class="center">	Archivo no disponible</td>
            <td class="center teal-text">Activo</td>
            <td class="center blue-text">
            <paper-button>
            <iron-icon icon="search"></iron-icon>
           </paper-button>             <paper-button>
            <iron-icon icon="create"></iron-icon>
           </paper-button>            
            <paper-button>
            <iron-icon icon="delete"></iron-icon>
           </paper-button>  
            </td>
          </tr>       
          <tr>
            <td class="center" >Jesus</td>
            <td class="center" >Zuñiga Becerra</td>
            <td class="center">	jesus.i.z.b.1996@hotmail.com</td>
            <td class="center ">Principiante</td>
            <td class="center">	Archivo no disponible</td>
            <td class="center teal-text">Activo</td>
            <td class="center blue-text">
            <paper-button>
            <iron-icon icon="search"></iron-icon>
           </paper-button>             <paper-button>
            <iron-icon icon="create"></iron-icon>
           </paper-button>            
            <paper-button>
            <iron-icon icon="delete"></iron-icon>
           </paper-button>  
            </td>
          </tr>    
           <tr>
            <td class="center" >Jesus</td>
            <td class="center" >Zuñiga Becerra</td>
            <td class="center">	jesus.i.z.b.1996@hotmail.com</td>
            <td class="center ">Principiante</td>
            <td class="center">	Archivo no disponible</td>
            <td class="center teal-text">Activo</td>
            <td class="center blue-text">
            <paper-button>
            <iron-icon icon="search"></iron-icon>
           </paper-button>             <paper-button>
            <iron-icon icon="create"></iron-icon>
           </paper-button>            
            <paper-button>
            <iron-icon icon="delete"></iron-icon>
           </paper-button>  
            </td>
          </tr> 
            
            <tr>
            <td class="center" >Jesus</td>
            <td class="center" >Zuñiga Becerra</td>
            <td class="center">	jesus.i.z.b.1996@hotmail.com</td>
            <td class="center ">Principiante</td>
            <td class="center">	Archivo no disponible</td>
            <td class="center teal-text">Activo</td>
            <td class="center blue-text">
            <paper-button>
            <iron-icon icon="search"></iron-icon>
           </paper-button>             <paper-button>
            <iron-icon icon="create"></iron-icon>
           </paper-button>            
            <paper-button>
            <iron-icon icon="delete"></iron-icon>
           </paper-button>  
            </td>
          </tr>    
            
     
         
        </tbody>
      </table>

</div>

        
        
        

</div>

    
    

    
    
</body>
</html>
